@import './reset.css';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Stint+Ultra+Expanded&display=swap');

:root{
  --reddit-blue: #0079d3;
  --reddit-blue-light: #4491cd;
  --reddit-blue-super-light: #eef3f7;
  --background-color: #dde5ed;
  --grey-dark: #878a8c;
  font-family: "Noto Sans" Arial sans-serif;
}

body {
  background-color: var(--background-color);
}

.App {
  min-height: 100vh;
  width: 100vw;
  font-family: "Noto Sans"; 
  display: grid;
  grid-template-rows: auto 1fr;
}

button{
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

.opaque{
  opacity: 0.5;
}

header,
main {
  transition: 1s opacity;
}

// * {
//   outline: 2px dashed red;
// }