@import './reset.css';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Stint+Ultra+Expanded&display=swap');

:root{
  --reddit-blue: #0079d3;
  --reddit-blue-light: #579dd6;
  --reddit-blue-super-light: #ebf1f7;
  --background-color: #e6ecf2;
  --grey-dark: #878a8c;
  --up-vote-color: orange;
  font-family: "Noto Sans" Arial sans-serif;
  font-size: clamp(14px, 2.5vw, 16px);
}

body {
  background-color: var(--background-color);
  * {
    box-sizing: border-box;
  }
}


.App {
  min-height: 100vh;
  width: 100vw;
  font-family: "Noto Sans"; 
  display: grid;
  grid-template-rows: auto 1fr;
}

button{
  cursor: pointer;
  img{
    pointer-events: none;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

.opaque{
  opacity: 0.5;
  pointer-events: none;
}

header,
main {
  transition: 1s opacity;
}

.main-input{
    background-color: rgb(242, 241, 241);
    padding: 6px 10px 6px 10px;
    border: none;
    outline: 1px solid var(--reddit-blue-super-light);
  
    &:hover{
      outline: 1px solid var(--reddit-blue);
      background-color: white;
    }
}

.App .user-icon{
  width: 32px;
  height: 32px;
  border-radius: 100%;
  object-fit: contain;
}

.App .user-icon-hidden{
  height: 32px;
  width: 32px;
  border: 1px dashed grey;
  border-radius: 100%;
}


.button-show-drop-down{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  border: none;
  background-color: inherit;
  border-radius: 0.2rem;
  padding: 3px 8px 3px 8px;
  transition: 1s;
  &--error{
    @extend .button-show-drop-down;
    background-color: rgb(231, 177, 177);
    -webkit-animation: heartbeat 1.5s ease-in-out both;
	        animation: heartbeat 1.5s ease-in-out both;
  }
  h1{
    text-align: left;
  }
  &:hover:not(#x-circle){
    outline: 1px solid lightgray;
  }
}

.drop-down{
  position: absolute;
  width: clamp(200px, 100%, 400px);
  overflow-y: hidden;
  h1{
    padding-left: 15px;
    color: grey;
  }
  * {
    gap: 10px;
  }
}

.App .default-button img{
  height: 12px;
}

.App .loading-icon{
  width: 16px;
  height:  16px;
}

// * {
//   outline: 2px dashed red;
// }


@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
