@import './reset.css';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Stint+Ultra+Expanded&display=swap');

:root{
  --reddit-blue: #0079d3;
  --reddit-blue-light: #579dd6;
  --reddit-blue-super-light: #ebf1f7;
  --background-color: #dde5ed;
  --grey-dark: #878a8c;
  --up-vote-color: orange;
  font-family: "Noto Sans" Arial sans-serif;
}

body {
  background-color: var(--background-color);
  * {
    box-sizing: border-box;
  }
}


.App {
  min-height: 100vh;
  width: 100vw;
  font-family: "Noto Sans"; 
  display: grid;
  grid-template-rows: auto 1fr;

  // div {
  //   position: relative;
  // }
}

button{
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

.opaque{
  opacity: 0.5;
  pointer-events: none;
}

header,
main {
  transition: 1s opacity;
}

.main-input{
    background-color: rgb(242, 241, 241);
    padding: 6px 10px 6px 10px;
    border: none;
    outline: 1px solid var(--reddit-blue-super-light);
  
    &:hover{
      outline: 1px solid var(--reddit-blue);
      background-color: white;
    }
}

.App .user-icon{
  width: 32px;
  height: 32px;
  border-radius: 100%;
  object-fit: contain;
}

.button-show-drop-down{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  border: none;
  background-color: inherit;
  border-radius: 0.2rem;
  padding: 3px 8px 3px 8px;
  h1{
    text-align: left;
  }
  &:hover:not(#x-circle){
    outline: 1px solid lightgray;
  }
}

// * {
//   outline: 2px dashed red;
// }