.App header {
  max-width: 100vw;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 5px 15px 5px 15px;
  gap: 10px;
  z-index: 10;
  border-bottom: 1px solid var(--background-color);

  position: sticky;
  top: 0px;
  a:hover{
    cursor: pointer;
  }

  & button, & div , & a{
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
 
}

#logos {
  width: auto;
  flex:0 0 50px;
  width: auto;
  img:first-child{
    padding: 5px;
    height: 32px;
  }
  
  img:nth-child(2){
    width: 60px
  }
}

#go-to{
  flex: 1 2 50px;

  button{
    width: 100%;

    h1 {
      width: 100%;
    }
  }
}

#search-bar {
  flex: 2 0 200px;
  border-radius: 1rem;

  &:hover{
    > button{
      display: block
    }
  }

  input{
    width: 100%;
    border: none;
    background-color: inherit;

    &:focus{
      border:none;
      outline: none;
    }
  }
button {
      display: none;
    }
}

#user-area{
  button:last-child{
    gap: 3px;

  }
}

@media only screen and (max-width: 900px){
  #logos img:nth-child(2){
    display: none;
  }

  #go-to h1 {
    display: none;
  }
}