.App header {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 5px 15px 5px 15px;
  gap: 10px;
  z-index: 10;
  border-bottom: 1px solid var(--background-color);

  position: sticky;
  top: 0px;
  a:hover{
    cursor: pointer;
  }

  & button, & div , & a{
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
 
}

#logos {
  width: auto;
  // flex:0 0 50px;
  width: auto;
  img:first-child{
    height: 32px;
  }
  
  img:nth-child(2){
    width: 60px
  }
}

#go-to{
  flex: 1 2 50px;
  position: relative;
  max-width: 300px;
  .drop-down{
    top: 30px;
    left: 0px;
  }
  button{
    width: 100%;

    h1 {
      width: 100%;
    }
  }
}

#search-bar {
  flex: 5 0 150px;
  border-radius: 1rem;
  max-width: 600px;
  position: relative;

  .drop-down {
    top: 35px;
    right: 50%;
    transform: translate(50%);
    width: 100%;
    h1{
      color: red
    }
  }
  &:hover{
    > button{
      display: flex
    }
  }

  input{
    width: 100%;
    border: none;
    background-color: inherit;

    &:focus{
      border:none;
      outline: none;
    }
  }
    button {
      display: none;
      border: none;
      background-color: white;
      height: 12px;
    }
}

#user-area{
  button:last-child{
    gap: 3px;
  }
  
  .drop-down{
    width: auto;
  }
}

@media only screen and (max-width: 900px){
  #logos img:nth-child(2){
    display: none;
  }

  #go-to h1 {
    display: none;
  }
}

@media only screen and (max-width: 400px){
  .App header{
    gap: 5px;
  }
  #go-to{
    max-width: 70px;
  }
  #search-bar{
    max-width: 200px;
  }
  #user-area{
    &> button > p{
      display: none;
    }
  }
}