body {
  background-color: var(--background-color);
}
main{
  min-height: 100vh;
  display: grid;
  grid-template-columns: clamp(550px, 60vw, 700px) 300px;
  justify-content: center;
  gap: 20px;
  grid-template-rows: 50px 150px;
  padding: 20px;

  & > div{
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

.icon{
  // height: 22px;
  width: 22px;
}

.main-child{
  background-color: white;;
  border-radius: 0.3rem;
  border: 1px solid lightgrey;
  padding: 10px;
}

#popular-bar{
  display: flex;
  gap: 15px;

  button:last-child{
    margin-left: auto;
  }
}

#agreements {
  a, p{
    color: grey;
    font-size: 0.75rem;
  }
  div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
}

#left-side {
  height: auto;
}

#right-side > button:last-child{
  width: 40%;
  align-self: center;
  position: sticky;
}

* {
  line-height: 1.3;
}


@media  screen and (max-width: 900px) {
  main{
    grid-template-columns: 1fr;
  } 

  #right-side{
    display: none;
  }
}