#post-creator {

}

#postCreator,
.post{
  padding: 0px;
  hr{
    width: 50vw;
  }
  form{
    padding: 20px;
    display: grid;
    gap: 15px;

    button{
      justify-self: end;
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  input, textarea{
    border:  1px solid var(--background-color);
    border-radius: 0.3rem;
    padding: 10px 15px 10px 15px;
    resize: none;
    font-family: "Noto Sans";
    &:not(#url-area){
      resize: vertical;
    }

    &:focus{
      outline: 1px solid black;
    }

    &::placeholder{
      font-family: "Noto Sans";
      color: rgb(177, 177, 177);
    }
  }
}

#buttons-div{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid var(--background-color);

  button{
    flex: 1 0 150px;
    background-color: inherit;
    border: none;
    border-right: 1px solid var(--background-color);
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    font-size: 0.9rem;
    font-weight: bold;
    color: grey;

    &.selected {
      border-bottom: 2px solid var(--reddit-blue);
      color: var(--reddit-blue);
      background-color: var(--reddit-blue-super-light);
      img {
        filter: invert(42%) sepia(93%) saturate(1352%) hue-rotate(180deg) brightness(50%) contrast(119%);
      }
    }

    &:hover{
      background-color: var(--reddit-blue-super-light);
    }

    img{
      width: 32px;
      filter:opacity(0.5)
    }
  }
}

#create-post-title{
  border-bottom: 1px solid white;
  padding: 25px 0px 15px 0px;
}

#community-chooser{
  position: relative;
  width: 250px;
  padding: 3px 0px 3px 0px;
  button{
    padding: 5px;
    width: 100%;
    justify-content: space-between;
    img:first-child[src=""]{
      outline: 1px dashed grey;
    }
  }

  aside h1{
    padding-left: 15px;
    color: grey;
  }
}