article.post{
  display: grid;
  gap: 10px;
  padding-right: 0px;
  grid-template-columns: 40px 1fr;
  grid-template-rows: 20px 1fr 30px;
  grid-template-areas:
    "vote sub"
    "vote main"
    "vote comm";

  & > div {
    padding-right: 10px;
  }

  em {
    font-weight: bold;
    color: black;
  }

  div {
    display: flex;
  }


  .vote-area-post {
    grid-area: vote;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    img {
      width: 20px;
    }
    p {
      font-weight: bold;
    }
  }
  
  div.top-area-post {
    grid-area: sub;
    display: flex;
    align-items: center;
    gap: 3px;
    a:hover {
      text-decoration: underline;
    }
    a,
    p {
      font-size: 0.8rem;
      color: grey;
      display: flex;
      align-items: center;
      gap: 3px;
    }
    }

  & > .main-area-post {
    grid-area: main;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-right: 13px;
    
    img {
      max-width: 100%;
    }
    p {
      font-size: 0.82rem;
      line-height: 1.5;
    }
    a {
      font-size: 0.7rem;
      color: var(--reddit-blue);
      max-width: 200px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;

      &:hover{
        text-decoration: underline;
      }
    }
  }

  & > .bottom-area-post {
    grid-area: comm;
  }

}

#create-post-area{
  grid-column: 1 / -1;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 20px;
  form{
    background-color: var(--reddit-blue-super-light);
    padding: 0px;
    padding-bottom: 5px;
    gap: 5px;
    border-radius: 0.4rem;
    button{
      margin-right: 5px;
    }
  }
  p{
    font-size: 0.8rem;
  }
  a{
    color: var(--reddit-blue);
    &:hover{
      text-decoration: underline;
    }
  }
}

#comments-display{
  grid-column: 1 / -1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.comment-inside{
  display: flex;
  flex-direction: column;
  border-left: 2px solid var(--reddit-blue-light);
  gap: 15px;
}

.comment{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  font-size: 0.7rem;

  & button:not(.default-button){
    border: none;
    display: flex;
    background-color: white;
    margin-left: 30px;
    color: grey;
    &:hover{
      background-color: var(--background-color)
    }
  }
  & > div{
    display: flex;
    align-items: center;
    gap: 5px;
  }

  & > div:first-child {
    a {
      font-weight: 600;
      &:hover{
        text-decoration: underline;
      }
    }
    p{
      color: grey;
    }
  }

  & > p{
    font-size: 0.9rem;
    padding-left: 40px;
  }

  & > div:nth-child(3){
    gap: 0px;
  }

  #create-post-area{
    align-items: flex-start;
    // border-left: 2px solid vr(--reddit-blue-light);
    margin-left: 15px;
    form{
      width: 80%;
    }
  }

}

* {
  // outline: 1px dashed red;
}