#top-communities-bar{
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0px;

  div {
    padding: 10px;

  }

  img{
    filter: invert(42%) sepia(93%) saturate(1352%) hue-rotate(87deg)
  }

  div:first-child{

    background-image: url('../assets/banner-background.png');
    background-repeat: repeat; 
    background-position: center;
    height: 50px;
    color: white;
    display:flex;
    align-items: flex-end;
    padding: 15px;
    opacity: 0.7;

    & > div{
      opacity: 1;
      background-image: none;
      height: auto;
      display: flex;
      padding: 0px;
    }
  }

  ol{
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  li{
    display: grid;
    grid-template-columns: 1fr 60px;
    align-items: stretch;
    font-size: 0.9rem;
    a{
      width: 210px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  & > div:last-child{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    & > button:first-child{
      grid-column: 1 / -1;
    }
  }

}

// * {
//   outline: 1px dashed red;
// }